/******************************************/
/*
全局
 */
*{
    margin: 0;
    padding: 0;
}
a{
	text-decoration: none;
}
/******************************************/
/*
最外层容器
 */
#container{
	/*display: none;*/
}
 /*
 头部
  */
.top{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #db3652;
	color: #fff;
	text-align: center;
	font-size: 18px;
}
/******************************************/
/*
导航条
 */
.slider{
	background: #666;
	width: 100%;
	height: 30px;
	line-height: 30px;
	
}
.slider ul{
	width: 100%;
	height: 100%;
	text-align: center;
}
.slider li{
	width: 101px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #666;
	list-style: none;
	display: inline-block;
}
.slider li:hover{
	background: #2FA2DF;
}
.slider a{
	color: #fff;
}
/******************************************/
/*
主要内容
 */
.main{
	width: 320px;
	overflow: hidden;
	margin: 0 auto;
}
.main-div{
	width: 100%;
	height: 100%;
	display: none;
}
.main .active{
	display: block;
}
/******************************************/
/*
首页
 */
.container-img{
	width: 320px;
	height: 120px;
}
.container-img img{
	display: none;
}
.container-img .active{
	display: block;
}
.homepage{
	position: relative;
}
.homepage img{
	width: 320px;
	height: 120px;
}
.homepage ul{
	display: inline-block;
	width: 70px;
	height: 10px;
}
.container-div{
	width: 320px;
	height: 15px;
	position: absolute;
	bottom: 0;
	text-align: center;
}
.container-ul li{
	float: left;
	width: 8px;
	height: 8px;
	list-style: none;
	background-color: #b7b7b7;
	border-radius:50%;
	margin-right: 5px;
}
.container-ul .active{
	background-color: #db3652;
}
.circle-container{
	width: 300px;
	height: 250px;
}
.circle{
	clear: both;
	width: 50px;
	height: 50px;
	background: red;
	border-radius: 50%;
	position: relative;
	animation: leo 5s linear 2s infinite alternate;
	-webkit-animation: leo 5s linear 2s infinite alternate;
	-o-animation: leo 5s linear 2s infinite alternate;
	-moz-animation: leo 5s linear 2s infinite alternate;
	-ms-animation: leo 5s linear 2s infinite alternate;
}
@keyframes leo{
	0%{background: red;left: 0;top: 0;}
	25%{background: yellow;left: 270px;top: 0;}
	50%{background: blue;left: 270px;top: 200px;}
	75%{background: green;left: 0;top: 200px;}
	100%{background: red;left: 0;top: 0;}
}
@-webkit-keyframes leo{
	0%{background: red;left: 0;top: 0;}
	25%{background: yellow;left: 270px;top: 0;}
	50%{background: blue;left: 270px;top: 200px;}
	75%{background: green;left: 0;top: 200px;}
	100%{background: red;left: 0;top: 0;}
}
@-o-keyframes leo{
	0%{background: red;left: 0;top: 0;}
	25%{background: yellow;left: 270px;top: 0;}
	50%{background: blue;left: 270px;top: 200px;}
	75%{background: green;left: 0;top: 200px;}
	100%{background: red;left: 0;top: 0;}
}
@-moz-keyframes leo{
	0%{background: red;left: 0;top: 0;}
	25%{background: yellow;left: 270px;top: 0;}
	50%{background: blue;left: 270px;top: 200px;}
	75%{background: green;left: 0;top: 200px;}
	100%{background: red;left: 0;top: 0;}
}
@-ms-keyframes leo{
	0%{background: red;left: 0;top: 0;}
	25%{background: yellow;left: 270px;top: 0;}
	50%{background: blue;left: 270px;top: 200px;}
	75%{background: green;left: 0;top: 200px;}
	100%{background: red;left: 0;top: 0;}
}
/******************************************/
/*
 全部福利
 */
.subCategoryBox{
	width: 317px;
	height: 80px;
	border: 1px solid red;
	position: relative;
	font-size: 12px;
	color: #aaa;
}
.subCategoryBox li{
	margin-left: 10px;
	display: inline-block;
}
.subCategoryBox a{
	color: #000;
}
.subCategoryBox .highlight{
	color: red;
}
.showmore{
	border: 1px solid blue;
	/*border-width:10px 1px 5px 20px;  /*顺时针：上、右、下、左*/
	display: inline-block;
	text-align: center;
	position: absolute;
	left: 40%;
	bottom: 5px;
	padding: 5px;
}
.showmore span{
	text-align: center;
	color: #000;
}
/******************************************/
/*
 晒一晒
 */
.container-pubu{
	-webkit-column-width: 100px;
	-moz-column-width: 100px;
	-o-column-width: 100px;
	column-width: 100px;
	-webkit-column-gap: 5px;
	-moz-column-gap: 5px;
	-o-column-gap: 5px;
	column-gap: 5px;
}
.container-pubu div{
	width: 100px;
	margin-top: 10px;
	margin-left: 5px;
}
.container-pubu img{
	width: 80px;
	height: 70px;
	border: 1px solid #ccc;
}
.container-pubu p{
	font-size: 12px;
	color: block;
}
.porduct-click div img:hover{
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}
/******************************************/
/*
底部
 */
.footer:before{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.footer{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #ccc;
	text-align: center;
	font-size: 12px;
	position: fixed;
	bottom: 0;
	text-shadow:1px 1px 1px #000;
}
/******************************************/